.section2 {
    display: flex;
    flex-direction: column;
    background-color: #000082;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    justify-content: center;
    align-items: center;
}

.img_error{
    width: 60vw;

}

.link_refresh_btn{
    width: 200px;
}

.refresh_btn{
    width: 100%;
    height: 50px;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Windows-Regular';
    font-size: 30px;
    cursor:pointer;
    border:2px solid #000000;
}

.refresh_btn:hover{
    background-color: rgb(19, 228, 228);
}