/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.App {
  flex: 1;
}


@font-face {
  font-family: 'ChakraPetch-Bold';
  src: local('ChakraPetch-Bold'), url(/src/fonts/ChakraPetch/ChakraPetch-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'ChakraPetch-Italic';
  src: local('ChakraPetch-Italic'), url(/src/fonts/ChakraPetch/ChakraPetch-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'ChakraPetch-Light';
  src: local('ChakraPetch-Light'), url(/src/fonts/ChakraPetch/ChakraPetch-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'ChakraPetch-Medium';
  src: local('ChakraPetch-Medium'), url(/src/fonts/ChakraPetch/ChakraPetch-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'ChakraPetch-Regular';
  src: local('ChakraPetch-Regular'), url(/src/fonts/ChakraPetch/ChakraPetch-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'ChakraPetch-SemiBold';
  src: local('ChakraPetch-SemiBold'), url(/src/fonts/ChakraPetch/ChakraPetch-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Windows-Regular';
  src: local('Windows-Regular'), url(/src/fonts/Windowsxp/Windows-Regular.ttf) format('truetype');
}