.section1 {
    display: flex;
    flex-direction: column;
    background-image: url(/src/imgs/alegria_windows_xp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.dadcontainer{
    display: flex;
    width: 100%;
    height: 95%;
}

.taskbar{
    width: 100%;
    height: 5%;
    background-image: url(/src/imgs/taskbar\ win\ xp.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.containerleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 53%;
    height: 100%;
    border-right: 2px solid #000;
}

.apps{
    display: grid;
    z-index: 2;
    position: fixed;
    height: 55%;
    padding-top: 1%;
    padding-left: 1.5%;
}

.app1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
}

.img_recycle{
    height: 80%;
}

.app1 h5{
    font-family: 'Windows-Regular';
    margin-top: 2%;
    color: white;
}

.up_invisible{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border: 1px solid #000;
    z-index: 1;
    height: 40%;
   
}

.teste{
    font-size:xx-large;
    font-family: 'ChakraPetch-Bold';
}

