.section1 {
    display: flex;
    flex-direction: column;
    background-image: url(/src/imgs/alegria_windows_xp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.dadcontainer {
    display: flex;
    width: 100%;
    height: 95%;
}


.containerleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53%;
    height: 100%;
    border-right: 2px solid #000;
}

.containerright{
    display: flex;
    align-self: center;
}

.left_son{
    display: flex;
    justify-content: flex-end;
    border: solid #000;
    height: 70%;
}

.taskbar {
    width: 100%;
    height: 5%;
    background-image: url(/src/imgs/taskbar\ win\ xp.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.apps {
    display: grid;
    z-index: 2;
    position: fixed;
    height: 55%;
    padding-top: 1%;
    padding-left: 1.5%;
}

.app1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
}

.img_recycle {
    height: 80%;
}

.app1 h5 {
    font-family: 'Windows-Regular';
    margin-top: 2%;
    color: white;
}

.textbox{
    height: 150px;
    width: 600px;
    border: solid #000 ;
}

.title_name{
    font-family: 'ChakraPetch-Bold';
    font-size: 60px;
    color: #fff;
}

.title_subname{
    font-family: 'ChakraPetch-SemiBold';
    font-size: 30px;
    color: #fff;
    margin-top: -10%;
}
